<ion-view title="Mi Lista" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="miLista-form13" class="list">
      <label class="item item-input" id="miLista-input13">
        <span class="input-label">Nuevo producto</span>
        <input type="text" placeholder="">
      </label>
      <button id="miLista-button19" class="button button-positive button-small button-block icon-right ion-android-add-circle">Add</button>
    </form>
    <ion-list id="miLista-list15">
      <ion-checkbox id="miLista-checkbox15">Detergente</ion-checkbox>
      <ion-checkbox id="miLista-checkbox16">Huevos</ion-checkbox>
      <ion-checkbox id="miLista-checkbox17">Leche</ion-checkbox>
      <ion-checkbox id="miLista-checkbox18">Pan</ion-checkbox>
    </ion-list>
    <button id="miLista-button20" class="button button-balanced button-small button-block">Todo comprado</button>
  </ion-content>
</ion-view>