<ion-view title="Todas las Listas" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="todasLasListas-form12" class="list" ng-submit="nuevaLista()">
      <label class="item item-input" id="todasLasListas-input12">
        <input type="text" ng-model="nuevaLista.nombre" placeholder="Nombre lista">
      </label>
      <button id="todasLasListas-button17" class="button button-positive button-small button-block icon-right ion-android-add-circle">Add</button>
    </form>
    <ion-list id="todasLasListas-list16">
      <ion-item  ng-repeat="lista in listas.slice()" class="item-icon-right" id="todasLasListas-list-item{{lista.id}}">
        {{lista.nombre}}
        <i class="icon ion-android-share" ng-click="solicitar(lista)"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
