<ion-view title="Todas las Listas" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="todasLasListas-form12" class="list">
      <label class="item item-input" id="todasLasListas-input12">
        <span class="input-label">Nueva lista</span>
        <input type="text" placeholder="">
      </label>
      <button id="todasLasListas-button17" class="button button-positive button-small button-block icon-right ion-android-add-circle">Add</button>
    </form>
    <ion-list id="todasLasListas-list16">
      <ion-item class="item-icon-right" id="todasLasListas-list-item44">Familia Fernández
        <i class="icon ion-android-share"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="todasLasListas-list-item50">Compañeros de piso
        <i class="icon ion-android-share"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="todasLasListas-list-item51">La nuestra
        <i class="icon ion-android-people"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="todasLasListas-list-item52">La Pandilla
        <i class="icon ion-android-share"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="todasLasListas-list-item53">Peña Los Artistas
        <i class="icon ion-android-share"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="todasLasListas-list-item54">Derrochones
        <i class="icon ion-android-share"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>